<!-- <section style="background-color: #f7f7f7"> -->
<section id="prinicpal" class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-5 section-heading">
        <h1 class="section-heading">Principal Investigator</h1>
      </div>
    </div>
    <div
      class="row"
      itemprop="author"
      itemscope=""
      itemtype="http://schema.org/Person"
    >
      <div class="col-xs-12 col-md-4">
        <div id="profile">
          <div
            class="portrait"
            itemprop="image"
            style="
              background-image: url('https://hydrosense.iitd.ac.in/img/portraits/msaharia-photo.jpg');
            "
          ></div>

          <div class="portrait-title">
            <h2 itemprop="name"><a href="{{ .Site.BaseURL }}/member/msaharia">Manabendra Saharia</a></h2>
            <h3 itemprop="jobTitle"></h3>

            <h4>Assistant Professor, Dept. of Civil Engineering, IIT Delhi</h4>
          </div>

          <ul class="social-icon">
            <li>
              <a href="mailto:msaharia@iitd.ac.in">
                <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
              </a>
            </li>

            <li>
              <a href="https://msaharia.com/">
                <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
              </a>
            </li>

            <li>
              <a href="https://www.linkedin.com/in/msaharia/">
                <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
              </a>
            </li>

            <li>
              <a
                href="https://scholar.google.com/citations?user=XZQ3N6QAAAAJ&hl=en"
              >
                <i
                  class="ai ai-google-scholar-square ai-3x"
                  aria-hidden="true"
                ></i>
              </a>
            </li>

            <li>
              <a href="https://www.researchgate.net/profile/Manabendra-Saharia">
                <i
                  class="ai ai-researchgate-square ai-3x"
                  aria-hidden="true"
                ></i>
              </a>
            </li>

            <li>
              <a href="https://twitter.com/m_saharia">
                <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
              </a>
            </li>

            <li>
              <a href="https://hydrosense.iitd.ac.in/msaharia_cv.pdf">
                <i class="fa fa-file fa-3x" aria-hidden="true"></i>
              </a>
            </li>
          </ul>

          <div class="row"></div>

          <div class="row"></div>
        </div>
      </div>

      <div class="visible-sm visible-xs"></div>
      <div class="col-xs-12 col-md-8" itemprop="description">
        <div class="row">
          <div class="col-sm-12">
            <h3>Biography</h3>
            <div class="article-style">
              <p>
                Dr. Manabendra Saharia is an Assistant Professor in the
                <a href="http://civil.iitd.ac.in/index.php?lmenuid=faculty"
                  >Department of Civil Engineering</a
                >
                at the Indian Institute of Technology Delhi. Previously, he
                worked in the Hydrology Lab of
                <a href="https://science.gsfc.nasa.gov/earth/hydrology/"
                  >NASA Goddard Space Flight Center</a
                >
                and the
                <a href="https://ncar.github.io/hydrology/"
                  >National Center for Atmospheric Research</a
                >. He obtained his PhD in Water Resources Engineering from the
                University of Oklahoma during which he worked in the Advanced
                Radar Research Center. His primarily expertise is in developing
                techniques and systems for monitoring and mitigating natural
                hazards such as floods and landslides, with a special focus on
                the worst-affected regions of the world. His research seeks to
                disentangle the complex relationships between geomorphology,
                climate, precipitation, and runoff generation using
                physics-based and data-driven models
              </p>
              <p>
                You can reach me via Email at
                <a href="mailto:msaharia@iitd.ac.in">msaharia@iitd.ac.in</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
