{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container">
    <h1>Team</h1>
    <h2> Faculty </h2>
    {{ range .Data.Pages }}
        {{ if eq .Params.weight 0}}
            {{partial "member_li" .}}
        {{ end }}
    {{ end }}
    <h2> Graduate Students and Project Staff </h2>
    {{ range .Data.Pages }}
        {{ if eq .Params.weight 1}}
            {{partial "member_li" .}}
        {{ end }}
    {{ end }}
    <h2>Master's Students</h2>
    {{ range .Data.Pages }}
        {{ if eq .Params.weight 2}}
            {{partial "member_li" .}}
        {{ end }}
    {{ end }}
    <h2>Undergraduate Students</h2>
    {{ range .Data.Pages }}
        {{ if eq .Params.weight 3}}
            {{partial "member_li" .}}
        {{ end }}
    {{ end }}
</div>

{{ $alumni_len := len (where .Site.RegularPages "Section" "alumni" ) }}
{{ if gt $alumni_len 0 }}

<div class="container">
    <h1>Alumni</h1>
    <h2>PhD and Project Staff</h2>
    {{ range where .Site.RegularPages "Section" "alumni" }}
        {{ if eq .Params.weight 4}}
            {{partial "alumni_li" .}}
        {{ end }}
    {{ end }}
    <h2>Master's Student</h2>
    {{ range where .Site.RegularPages "Section" "alumni" }}
        {{ if eq .Params.weight 5}}
            {{partial "alumni_li" .}}
        {{ end }}
    {{ end }}
    <h2>Undergraduate Students</h2>
    {{ range where .Site.RegularPages "Section" "alumni" }}
        {{ if eq .Params.weight 6}}
            {{partial "alumni_li" .}}
        {{ end }}
    {{ end }}
</div>

{{ end }}

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
