{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Publications</h1>
            <script src="https://bibbase.org/show?bib=https%3A%2F%2Fapi.zotero.org%2Fusers%2F605836%2Fcollections%2F98W6NZ9F%2Fitems%3Fkey%3DMDVIWgmaGtPBruUy9JTe9uLW%26format%3Dbibtex%26limit%3D100&authorFirst=1&commas=True&jsonp=1"></script>
        </div>
    </div>

</div>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
